<div id="homepage-background" class="background">
    <div class="mask">
        <div class="content">
            <div class="container">
                <h1>Caroline D. Ham</h1>
                <p>
                    Ms. Ham has practiced exclusively in the field of family law since she was admitted to practice in 2009.  She specializes in complex divorce, custody, support, guardianship, paternity, and domestic violence matters. Ms. Ham understands the complex emotional feelings a family law matter may cause someone and handles an individual’s case with compassion and direction. A tough advocate, she fights vigorously for her clients in and out of court so that their interests are best represented. 
                </p>
                <p>
                    Ms. Ham’s interest in family law began when she was a rape crisis counselor for the Sexual Assault and Domestic Violence Center (SADVC) while completing her bachelor’s degree. During law school, she served as a legal intern for Women Empowered Against a Violent Environment (WEAVE) aiding low income litigants in completing divorce and restraining order paperwork. She believes there is a way to get through a complicated family law matter with grace and dignity. 
                </p>
                <p>
                    Ms. Ham has not only practiced for established law firms in the San Francisco Bay Area, but she has also been an active member of Family Law Sections of the Contra Costa and Alameda County Bar Associations, serving as the Alameda County Family Law Section’s Vice Chair from 2010 – 2012.  She also served on the California State Bar – Family Law Section - Bay Area Regional Standing Committee, Family Law Sub-Committee of Delegates, and the Sacramento County Bar Association Delegation to the Conference of Delegates, all committees which researched, reviewed, and made recommendations on family law legislation. She has completed several courses including the California Family Law Report Advanced Family Law Course and a collaborative training seminar sponsored by the Sacramento Collaborative Practice Group. Currently Ms. Ham is a Board Member for the California Young Lawyers Association. 
                </p>
                <p>
                    Ms. Ham graduated from the University of California, Davis with a Bachelor of Arts in both Political Science and Women & Gender Studies (Psychology & Sociology focus), and a minor in Sociology, with an emphasis in Law & Society.  She earned her Doctor of Jurisprudence, with Distinction, from the University of the Pacific, McGeorge School of Law in 2009 with a specialization in trial advocacy.  A member of the California Bar, Ms. Ham is also admitted to practice before the U.S. District Court for the Northern District of California. She practices in Alameda, Contra Costa, Marin, San Francisco, and San Mateo County.
                </p>

                <h3>Bar Admissions</h3>
                <p>California State Bar, 2009</p>
                <p>U.S. District Court, Northern District of California</p>

                <h3>PROFESSIONAL ASSOCIATIONS & MEMBERSHIPS</h3>
                <ul>
                    <li>Member, California Bar Association (Family Law Section)<br/>2009 - Present</li>
                    <li>Member, Alameda County Bar Association<br />2009 - Present</li>
                    <li>Member, Alameda County Bar Association (Family Law Section)<br />2009 - Present</li>
                    <li>Member, Contra Costa County Bar Association<br />2009 - Present</li>
                    <li>Member, Contra Costa County Bar Association (Family Law Section)<br />2009 - Present</li>
                    <li>Member, Alameda County Family Law Association<br />2009 - Present</li>
                    <li>Board Member, California Young Lawyers Association<br />2017 - Present</li>
                    <li>Member, Marin County Bar Association<br />2017 - Present</li>
                    <li>Member, Marin County Bar Association (Family Law Section)<br />2017 - Present</li>
                    <li>Legislature Committee Member, Family Law Sub-Committee of Delegates<br />2013 - 2014</li>
                    <li>Member, Sacramento County Bar Association Delegation to Conference of Delegates<br />2013-2014</li>
                    <li>Mentee, American Academy of Matrimonial Lawyers<br />2012 - 2014</li>
                    <li>Vice Chair, Alameda County Bar Association (Family Law Section)<br />2010 - 2012</li>
                    <li>Legislature Committee Member, State Bar of California, Family Law Section, Bay Area Regional Standing Committee<br />2011 - 2012</li>
                    <li>Member, Association of Family and Conciliation Courts<br />2010 - 2012</li>
                </ul>

                <h3>AWARDS</h3>
                <ul>
                    <li>Order of the Barristers, 2009<br />University of the Pacific, McGeorge School of Law (National Organization)</li>
                    <li>Runner-up, Best Advocate, 2008<br />National Civil Trial Competition</li>
                    <li>Trial Advocacy, Top Honors, 2008<br />University of the Pacific, McGeorge School of Law</li>
                    <li>Roger J. Traynor Honor Society, 2009<br />University of the Pacific, McGeorge School of Law</li>
                    <li>Dean’s Honors List, 2007 – 2009<br />University of the Pacific, McGeorge School of Law</li>
                    <li>Outstanding Senior Award, 2006<br />University of California, Davis</li>
                    <li>Human Corps Community Service Award, 2005<br />University of California, Davis</li>
                </ul>

                <h3>EDUCATION</h3>
                <p>
                    <i>University of the Pacific, McGeorge School of Law</i>, May 2009<br />
                    J.D. with Distinction, and Advocacy Certificate
                </p>
                <p>
                    <i>University of California, Davis</i>, June 2006<br />
                    B.A. in Political Science, B.A. in Women & Gender Studies<br />
                    Minor in Sociology: Law & Society
                </p>
                <p>
                    <i>London School of Economics</i>, Summer 2004
                </p>
            </div>
        </div>
    <div>
</div>