<div id="homepage-background" class="background">
    <div class="mask">
        <div class="header-container">
            <div class="page-header">
                <img class="top-logo" src="assets/HamFamilyLogo.svg" width="200" />
            </div>
        </div>
        <div class="content-background">
            <div class="content">
                <div class="container">
                    <h1>Hamily Matters</h1>
                    <br>
                    <div id="blogger">
                </div>
                <div class="blogFooter">
                    <a href="#" id="blogNext">Next 5</a>
                </div>
            </div>
        </div>
    <div>
    <script src="https://www.googleapis.com/blogger/v3/blogs/6986987465501005916/posts?callback=handleResponse&key=AIzaSyC_0_YiuhkgLzLZ9njEeUUaUUyvnNFXuOM"></script>
</div>