<div id="homepage-background" class="background">
    <div class="mask">
        <div class="header-container">
            <div class="page-header">
                <img class="top-logo" src="assets/HamFamilyLogo.svg" width="200" />
            </div>
        </div>
        <div class="content-background">
            <div class="content">
                <div class="container">
                    <img class="contact-img" src="assets/lawyer.jpg" width="600" />
                    <h1>Contact Us</h1>
                    <br>
                    <h2>Address</h2>
                    <p>
                        Ham Family Law<br/><br/>
                        1250-A Fairmont Drive #795<br/>
                        San Leandro, CA 94578
                        <br/><br/>
                        11501 Dublin Boulevard, Suite 200<br/>
                        Dublin, CA 94568
                    </p>
                    <br>
                    <h2>Phone</h2>
                    <p>(510) 414-7417</p>
                    <br>
                    <h2>Email</h2>
                    <p><a href="mailto:caroline@hamfamilylaw.com?subject=New%20Client">caroline@hamfamilylaw.com</a></p>
                </div>
            </div>
        </div>
    <div>
</div>