<div id="homepage-background" class="background">
    <div class="mask">
        <div class="title-box">
            <img class="top-logo" src="assets/HamFamilyLogo.svg" width="200" />
        </div>
        <p class="slogan">
            Compassionate and Experienced Reputation, 
            <br /> Serious and Client Driven Results.
        </p>
        <div class="content top-spacer">
            <div class="container">
                <img class="left" src="assets/mom.png" width="300" />
                <br />
                <br />
                <p class="home-text">
                    Here at Ham Family Law, we are dedicated to providing you with the best legal services possible. We look forward to building a trusting and impactful client-attorney relationship with you.
                </p>
            </div>
        </div>
        <div class="footer top-spacer">
            <div class="container">
                <div class="social-media">
                    <a href="#" target="_blank" title="facebook"><img class="social-media-buttons" src="assets/facebooklogo.png" /></a>
                    <a href="#" target="_blank" title="linkedin"><img class="social-media-buttons" src="assets/linkedinlogo.png" /></a>
                    <a href="#" target="_blank" title="avvo"><img class="social-media-buttons" src="assets/avvologo.png" /></a>                    
                    <a href="#" target="_blank" title="twitter"><img class="social-media-buttons" src="assets/twitterlogo.png" /></a>
                </div>
                <div class="disclaimer-box">
                    <p class="disclaimer-text">
                        Visiting this website does not constitute an attorney-client relationship, nor does sending an email
                        create an attorney-client relationship. Any information you obtain at this site is not legal advice
                        nor is it intended to be construed as such. Legal counsel should be sought for the answers to
                        specific legal questions. This communication is an advertisement as defined by The Rules of
                        Professional Conduct and California Business and Professions Code.
                    </p>
                </div>
            </div>
            
        </div>
    <div>
</div>