<div id="homepage-background" class="background">
    <div class="mask">
        <div class="page-header">
            <img class="top-logo" src="assets/HamFamilyLogo.svg" width="200" />
        </div>
        <div class="content-background">
            <div class="content">
                <div class="container">
                    <h1>Practice Areas</h1>

                    <p>
                        At Ham Family Law we understand that undergoing any form of change to your family unit can
                        be stressful and at times heartbreaking. To that end, our dedicated team will work with you to
                        help you navigate the legal system, helping you make informed decisions regarding what is best
                        for your family.
                    </p>
                    <img class="practice-img" src="assets/lonelylady.jpg" width="400" />
                    <br />
                    <div class="left-text">
                        <p>
                            At Ham Family Law we specialize in a wide range of family law matters including:
                        </p>

                        <ul>
                            <li>Prenuptial / Postnuptial Agreements</li>
                            <li>Dissolution / Legal Separation / Nullity</li>
                            <li>Child Custody</li>
                            <li>Child Support</li>
                            <li>Spousal Support</li>
                            <li>Property Division</li>
                            <li>Parentage / Paternity</li>
                            <li>Post-Judgment Enforcement & Modification</li>
                            <li>Domestic Violence Restraining Orders</li>
                        </ul>
                        <br />
                        <p>
                            Ham Family Law prides itself on our compassionate representation. We ensure you not only
                            understand the law every step of the way, but we also genuinely care how our clients and their
                            families are adjusting to the changes they are undergoing. When it comes to your family, no
                            issue is too trivial or too small. Remember…
                        </p>
                        <p>
                            <b><i>"If it is important to you, then it is important to us"</i></b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    <div>
</div>