<div id="homepage-background" class="background">
    <div class="mask">
        <div class="page-header">
            <img class="top-logo" src="assets/HamFamilyLogo.svg" width="200" />
        </div>
        <div class="content-background">
            <div class="content">
                <div class="container">
                    <h1>Testimonials</h1>
                    <br>
                    <img class="testimonials-img-top" src="assets/staringlady.jpg" width="350" />
                    <div class="right-text">
                        <h4>Tough and Overall Excellent Attorney</h4>
                        <p>
                            You never want an attorney until you need one. I needed Caroline. She was tough, knowledgable, and extremely responsive to every little concern I had. I was so relieved to have Caroline on my side. She offered me comfort, told me the law, and most importantly listened to what I needed to say. I couldn't imagine going through my divorce without Caroline by my side.
                            <br />&nbsp;&nbsp;&nbsp;&nbsp;  <i>- Vanessa</i>
                        </p>
                        <br><br>

                        <h4>Smart, professional, and confident.</h4>
                        <p>
                            Caroline is a gem! After being connected to Caroline through a friend, I could not be happier with the results. Caroline helped me through a very tough part of my life and always helped me to stay calm, positive and productive. She incredibly genuine, warm, and funny! If you're looking for a lawyer, you will be happy to have Caroline by your side. I know I was! Thank you for everything, Caroline.
                            <br />&nbsp;&nbsp;&nbsp;&nbsp;  <i>- Audrey</i>
                        </p>
                    </div>
                    <br>

                    <h4>Knowledgeable family law attorney</h4>
                    <p>
                        I was referred to Ms. Ham by a family friend who went through a divorce recently. I was really stressed out when I went in for the consultation but after talking to Ms. Ham about my situation and discussing all of my options, I felt relieved. She is obviously a very skilled lawyer who cares a great deal about her clients. I am so glad I had her on my side. I would highly recommend her to anyone who is looking for a family law attorney.
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;  <i>- Greg</i>
                    </p>
                    <br><br>

                    <h4>Amazing!</h4>
                    <p>
                        Ms. Ham has been a blessing during a difficult time. She was able to professionally, yet kindly, answer my various questions regarding the many forms and paper work associated with a divorce. She was very knowledgeable and the inside and out of each form. She spoke with utter confidence yet was never prideful. I felt very confident with any and all suggestions she had for me. Thank you!!
                        <br />&nbsp;&nbsp;&nbsp;&nbsp; <i>- Jacki</i>
                    </p>
                    <br><br>

                    <h4>Exceptional and Compassionate Lawyer</h4>
                    <img class="testimonials-img-bottom" src="assets/dadhug.jpg" width="400" />
                    <p class="left-text">
                        Caroline is an amazing lawyer. She was well prepared for our case and was even complimented by the Judge on her preperation. Her professionalism and and compassionate demeanor helped my family through a very emotional child surname change case. She talked us through all of our options and her follow through was above and beyond. Her knowledge, honesty and integrity is refreshing. Highly recommend to anyone looking for a family attorney.
                        <br />&nbsp;&nbsp;&nbsp;&nbsp; <i>- Jennifer</i>
                    </p>                    
                    <br>
                    <a href="https://www.avvo.com/attorneys/94578-ca-caroline-ham-3336056/reviews.html" target="_blank">Read More</a>
                </div>
            </div>
        </div>
    <div>
</div>