html, body {
    height: 100%;
}

.background {
    position: absolute;
    background-image: url('SF2.JPG');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
    overflow: auto;
}

.mask {
    position: absolute;
    background-color: rgba(0,130,130,0.5);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
}

.title-box {
    float: left;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1%;
    width: 300px;
    height: 300px;
}

.title-box img {
    display: block;
    margin: auto;
    margin-top: 50px; 
}

.header-container {
    display: inline-block;
    width: 100%;
    padding-top: 10%;
    padding-left: 15%;
    margin-bottom: 100px;
}

.slogan {
    font-family: 'Fanwood Text', serif;
    font-size: 2.2em;
    color: white;
    text-align: center;
    margin: 10%;
    margin-left: 50px;
}

.home-text {
    margin-left: 360px;
    margin-bottom: 120px;
}

.home-text p {
    margin-top: 30px;
    font-size: 24px;
}

.content-background {
    display: block;
    /* background-color: rgba(255, 255, 255, 0.9); */
    width: 100%;
    overflow: auto;
}
.content {
    font-family: 'Fanwood Text', serif;
    font-size: 20px;
    max-width: 1000px;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    overflow: auto;
    word-wrap: break-word;
    margin: auto;
    margin-bottom: 100px;
}

.content .welcome-img {
    position: absolute;
    margin-left: -80px;
    margin-top: 40px;
    margin-right: 30px;
    margin-bottom: 20px;
    box-shadow: 8px 8px 8px gray;
}

.footer {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1%;
    width: 100%;
}

.disclaimer-box {
    padding-left: 1%;
    padding-right: 1%;
    max-width: 1000px;
    margin: auto;
    display: block;
}

.disclaimer-text {
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 9px;
    line-height: 15px;
    text-align: center;
}

.social-media {
    width: 500px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.social-media-buttons {
    height: 40px;
    width: 40px;
    margin-left: 60px;
    float: left;
}

.social-media-buttons:hover {
    opacity: 0.8;
}

.page-header {
    float: left;
    margin: auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
}

.page-header.homepage-logo {
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
        -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.avvo-badge {
    height: 120px;
    width: 155px;
}

.avvo-badge-container {
    width: 33%;
    margin-bottom: 20px;
    float: left;
    text-align: center;
}

.practice-img {
    position: absolute;
    width: 350px;
    margin-left: 600px;
    box-shadow: -8px 8px 8px #696969;
}

.contact-img {
    position: absolute;
    margin-top: -20px;
    margin-left: 300px;
    box-shadow: -8px 8px 8px #696969;
}

.about-image {
    float: left;
    margin-right: 40px;
    box-shadow: 8px 8px 8px #696969;
}

.testimonials-img-top {
    position: absolute;
    margin-left: -100px;
    box-shadow: 8px 8px 8px #696969;
}

.testimonials-img-bottom {
    position: absolute;
    margin-left: 600px;
    box-shadow: -8px 8px 8px #696969;
}

.left-text {
    width: 580px;
}

.right-text {
    width: 600px;
    margin-left: 300px;
}

@media (max-width: 1000px) {
    .header-container {
        padding-top: 20%;
        padding-left: 20%;
    }
    
    .container img {
        display: none;
    }

    .title-box {
        width: 100%;
    }
    
    .page-header .top-logo {
        display: block;
    }


    .slogan {
        display: none;
    }

    .welcome-img {
        display: none;
    }

    .home-text {
        margin-left: 0px;
        margin-bottom: 50px;
    }

    .home-text p {
        font-size: 18px;
    }

    .content {
        padding: 10px;
        margin-bottom: 50px;
    }
    .avvo-badge {
        width: 100px;
    }
    
    .disclaimer-text {
        word-wrap: break-word;
    }
    
    .social-media {
        width: 100%;
    }

    .social-media .social-media-buttons {
        display: block;
        margin-left: 25px;
    }

    .container .about-image {
        width: 150px;
        display: block;
        margin-bottom: 30px;
    }

    .left-text {
        width: 100%;
    }
    
    .right-text {
        width: 100%;
        margin-left: 0px;
    }
}